.header {
    box-shadow: 3px 0px 5px 0px var(--sapHighlightColor);;
    padding: 20px;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-sap {
        width: 60px;
        height: fit-content;
    }
}